<div
	class="alert alert-danger"
	ng-show="controller.error">Username Password combination does not match. Try again.</div>
<form
	name="login-form"
	role="form"
	ng-submit="controller.login()">
	<div class="form-group">
		<label for="username">Username:</label>
		<input
			type="text"
			class="form-control"
			id="username"
			name="username"
			ng-model="controller.credentials.username"
			required />
		<div role="alert">
			<span
				class="error"
				ng-show="login-form.username.$error.required"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input
			type="password"
			class="form-control"
			id="password"
			name="password"
			ng-model="controller.credentials.password"
			required />
		<div role="alert">
			<span
				class="error"
				ng-show="login-form.password.$error.required"></span>
		</div>
	</div>
	<button
		type="submit"
		class="btn btn-primary">Submit</button>
</form>